$sub-color: #FFD700;
$title-color: #D4AF37;
$text-color: #FFFFFF;
$font-family-body: 'Lato', sans-serif;
$font-family-content: 'Playfair Display', serif;
$background-color-header: black;
$background-color-box: brown;
$background-color-button: #D4AF37;
$background-color-button-active: #FFD700;
$border-color-button: #D4AF37;
$border-color-button-active: #FFD700;